<div class="section">
  <div class="title">Xactware ID</div>
  <label for="xid_user">Email</label>
  <input id="xid_user" type="email">
  <label for="xid_pass">Password</label>
  <input id="xid_pass" type="password">
  <div id="xid_save" class="btn">Save</div>
</div>
<div class="section">
  <div class="title">Blue Tool</div>
  <label for="bt_user">Username</label>
  <input id="bt_user" type="text">
  <label for="bt_pass">Password</label>
  <input id="bt_pass" type="password">
  <div id="bt_save" class="btn">Save</div>
</div>
