body{
  min-width:200px;
}

body > * + *{
  margin-top:10px;
}

.title{
  font-size:18px;
  text-align:center;
}

#input{
  border:1px solid #ababab;
  box-sizing:border-box;
  border-radius:2px;
  font-size:16px;
  padding:5px;
  outline:none;
  text-align:center;
  width:100%;
}

.actionsList{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  width:100%;
}

.act{
  align-items:center;
  background:hsl(176, 61%, 29%);
  border-radius:2px;
  box-sizing:border-box;
  color:#fff;
  cursor:pointer;
  display:flex;
  flex:1 0 100%;
  margin-bottom:10px;
  padding:10px;
  transition:background-color 0.1s ease-in-out;
  user-select:none;
}

.act:hover{
  background:hsl(176, 50%, 29%);
}

.act:active{
  background:hsl(176, 40%, 29%);
}

.act .name{
  display:inline;
}

.act .type{
  display:inline;
  font-size:9px;
  margin-left:auto;
}
