body, #root, .root_body{
  margin:0;
  padding:0;
  font-family:sans-serif;
  height:100vh;
  width:100%;

  .root_body{
    display:flex;
  }

  .body{
    position:relative;
    height:100vh;
    background:#f5f5f5;
    flex-grow:1;
    overflow:hidden;
    overflow-y:auto;
  }
}

.section{
  width:calc(100% - 50px);
  display:flex;
  flex-direction:column;
  background:#fff;
  padding:20px 15px;
  box-sizing:border-box;
  margin:20px auto 0;
  border:1px solid #eee;
  border-radius:8px;
  font-size:13px;

  .title{
    font-weight:500;
    font-size:14px;

    & + *{
      margin-top:20px !important;
    }
  }

  form{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;

    label{
      flex-grow:1;
      flex-basis:175px;
      margin-bottom:10px;
      padding:0 5px;

      input{
        display:block;
        width:100%;
      }
    }

    .actions{
      flex-basis:100%;
      display:flex;
      justify-content:flex-end;
    }
  }
}

.btn{
  display:inline-block;
  padding:10px 20px;
  background-color:hsl(165, 100%, 45%);
  border-radius:50px;
  color:#fff;
  user-select:none;
  cursor:pointer;
  transition:background-color 0.2s, color 0.2s;
  align-self:flex-start;
  border:none;

  &:hover{
    background-color:hsl(165, 90%, 45%);
  }

  &:active{
    background-color:hsl(165, 80%, 45%);
  }

  &.sec{
    background:hsl(165, 10%, 80%);

    &:hover{
      background:hsl(165, 10%, 75%);
    }

    &:active{
      background:hsl(165, 10%, 70%);
    }
  }

  &.disabled{
    background:#eaeaea;
    color:#545454;
    cursor:default;
  }
}

input{
  padding:5px 2px;
  border-radius:5px;
  border:1px solid #ccc;

  &:focus{
    border:1px solid #c0c0c0;
  }
}

a{
  color:inherit;
  text-decoration:inherit;
}
